<h1>Add Track</h1>

<form action="<%= tracks_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value=" <%= form_authenticity_token %> ">

  <label> Name
    <input type="text" name="track[name]">
  </label>

  <p>
    <label>Album
      <select name="track[album_id]">
          <% Album.all.each do |album| %>
              <option
                  <%= "selected" if @track.album_id == album.id %>
                  value="<%= album.id %>">
                  <%= album.name %>
              </option>
          <% end %>
      </select>
    </label>
  </p>

  <input type="submit">
</form>
